<mat-card>
  <mat-card-title>Confirmar Exclusão Produto</mat-card-title><span></span>

  <form validate>
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        [value]="product.description"
        name="description"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Preço (R$)"
        [value]="product.price"
        name="price"
        type="number"
        step="0.1"
        disabled
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteProduct()" color="warn">
    Delete
  </button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
